{%extends 'base.html' %}

{%block page_title %}  Login {%endblock %}


{%block title %}   
{{ d }}
<!--<div class="px-5 py-2">-->
<!--  <form style="font-size:10pt; color:rgb(127, 127, 127)" method="POST">-->
     <!--To allow user to select Car Make-->
<!--    <select name="search-car">-->
<!--      <option value="all"           > All Vehicle Make </option>                    -->
<!--      <option value="Honda Fit"          > Honda Fit </option>                    -->
<!--      <option value="Toyota Harrier" > Toyota Harrier </option>                    -->
<!--      <option value="Toyota Harrier Premium"           > Toyota Harrier Premium </option>                    -->
<!--    </select>-->
   <!--To allow user to select his choice of type of cars to view -->
<!--    <select name="search-car-type">-->
<!--      <option value="all"> All Passenger Cars</option>    -->
<!--      <option value="Hybrid Car"> Hybrid Car</option>                    -->
<!--      <option value="Hatchback"> Hatchback</option>                    -->
<!--      <option value="Luxury Sedan"> Luxury Sedan</option>                    -->
<!--      <option value="MPV"> MPV</option>                    -->
<!--      <option value="Mid-sized Sedan"> Mid-sized Sedan</option>                    -->
<!--      <option value="Sports"> Sports</option>                    -->
<!--      <option value="Stationwagon"> Stationwagon</option>                    -->
<!--      <option value="SUV"> SUV</option> -->
<!--    </select>-->
    <!--To allow user to select to view Sold vehicle listing or Available vehicle listing or all listings-->
<!--    <select name='availability'>-->
<!--      <option value= 'all'      > All Status </option>-->
<!--      <option value= 'Available'> Available </option>-->
<!--      <option value= 'Sold Out' > Sold </option>-->
<!--    </select>            -->
<!--    <input type='submit' value='Find Used' class='btn btn-warning' />-->
<!--  </form>-->
<!--</div>-->
{%endblock %}

{%block content %}

<div id="car-listing">
  <!--Car Listing for MD screen & above-->
  <div class="table-responsive d-md-block d-none">
    <table class="table text-center">
      <!--Menu bar-->
      <thead class="listing">
        <tr class="table-secondary">
          <th><a href="{% url 'add_listing' %}" class="btn btn-danger">Add New Vehicle</a></th>
          <th class="text-left">Make & Model</th>
          <th>Price</th>
          <th>Year of Make</th>
          <th>Mileage</th>
          <th>Vehicle Type</th>
          <th>
            <form>
              <input type="text" placeholder="Enter your search" />
            </form>
          </th>  
          <th>Option</th>
        </tr>
      </thead>
      <!--Car Listing -->
      <tbody class="listing ">
        {%for d in details %}

        <tr>
          <tr>
            <td rowspan="3">
              <image src="../static/image-page/mini.jpg" class="car-image" />
            </td>
            <td class="blue text-left"><b>{{ d.car_make }} {{ d.car_model }}</b>
            {% if d.status == 'Sold' %}<span class="text-danger"><b> ( Sold ) </b></span>{% endif %}   
            </td>
            <td style="color:red"><b>
            {% if d.status == 'Available' %}  $ {{ d.price  }} {% endif %}
            {% if d.status == 'Sold' %} -- {% endif %}
              </b></td>
            <td >
              {{ d.year_of_make }}
              </td>
            <td>
            {% if d.status == 'Available' %}  {{ d.mileage }} km {% endif %}
            {% if d.status == 'Sold' %} -- {% endif %}
            </td>
            <td>{{ d.car_type }}</td>
            <td rowspan="2" class=" text-left">
              <span 
                    {% if d.status == 'Available' %} class="badge badge-primary" {% endif %}
                    {% if d.status == 'Sold' %} class="badge badge-danger" {% endif %}              
                    > {{ d.car_make }} </span>
              <span 
                    {% if d.status == 'Available' %} class="badge badge-primary" {% endif %}
                    {% if d.status == 'Sold' %} class="badge badge-danger" {% endif %}              
                    > {{ d.car_model }} </span>
              <span 
                    {% if d.status == 'Available' %} class="badge badge-primary" {% endif %}
                    {% if d.status == 'Sold' %} class="badge badge-danger" {% endif %}              
                    > {{ d.year_of_make }} </span>
              <span 
                    {% if d.status == 'Available' %} class="badge badge-primary" {% endif %}
                    {% if d.status == 'Sold' %} class="badge badge-danger" {% endif %}              
                    > {{ d.car_type }} </span>
              <span 
                    {% if d.status == 'Available' %} class="badge badge-primary" {% endif %}
                    {% if d.status == 'Sold' %} class="badge badge-danger" {% endif %}              
                    > {{ d.status }} </span>              
            </td>
            <td class='border'>
              <a href='edit_listing/{{d.id}}'>Edit</a>|
              <a href='confirm_delete/{{d.id}}'>Delete</a>
            </td>
          </tr>
          <tr>
            <td colspan="6" class="border-white  text-left">
              <b>Description :   </b> {{ d.description }}
            </td>
            <td>
              {% if d.status == 'Available' %}     
              <a href='../deposit/place_deposit/{{d.id}}' class="btn btn-warning">Place Deposit</a>
              {% endif %}
              
              {% if d.status == 'Sold' %}
              <a href='' class="btn btn-danger">Sold</a>
              {% endif %}
            </td>
          </tr>
    
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
  
</div>

{%endblock%}