{%extends 'base.html' %}

{%block page_title %}  Login {%endblock %}


{%block title %}   
<h1> Deposit for {{ car.car_make }} {{ car.car_model }}</h1>

{%endblock %}
{%block content %}

  <div> 
    <form method="POST">
      {% csrf_token %}
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{ key }}"
              data-description="Donate"
              data-amount="{{amount}}"
              data-locale="auto"></script>
      <input type='hidden' name='amount' value='{{amount}}'/>
    </form>
  </div>
{%endblock%}




