{%extends 'base.html' %}

{%block title %}   
<h1>{{ user }}'s Profile</h1>
{%endblock %}

{%block content %}
  <table>
    <tr>
      <th>User Name :</th>
      <td>{{ user }}</td>
    </tr> 
    <tr>
        <th>Registered Email :</th>
        <td>{{ user.email }}</td>
    </tr> 
  </table>
  
  
  <a class="btn btn-warning" href='{% url 'listing' %}'>View Listing</a> | 
  <a class="btn btn-primary" href='{% url 'add_listing' %}'>Add Vehicle</a> | 
  <a class="btn btn-danger" href='{% url 'delete_listing' %}'>Delete</a></div>

  </table>
{%endblock%}